#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo, .logo-alt  {
  height: 7em; 
   /* padding: 1.5em; */
  /* height: auto; */
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 2em;
}

@media (max-widht: 600px) {
  .logo, .logo-alt {
    height: 4em;
    /* padding: 1em; */
  }
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-alt-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.logo {
  animation: logo-spin infinite 20s linear;
}

.logo-alt {
  animation: logo-alt-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo, a:nth-of-type(2) .logo-alt {
    animation: logo-spin infinite 20s linear;
  }
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%; /* Make the image round */
  width: 120px; /* Adjust the width of the image */
  height: 120px; /* Adjust the height of the image */
}
